---
layout: "navBarBack"
title: Jim Davis - 2014 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2014 - 2013</h2>
</div>

<!-- 2014 - 2013 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>A Multi-Transformational Model for Background Subtraction with Moving Cameras</span><br>D. Zamalieva, A. Yilmax, and J. Davis<br>European Conference on Computer Vision, September 2014</li>
        
        <li><span>Exploiting Temporal Geometry for Moving Camera</span><br>D. Zamalieva, A. Yilmaz, and J. Davis<br>International Conference on Pattern Recognition, August 2014</li>

        <li><span>Temporally-Dependent Dirichlet Process Mixtures for Egocentric Video Segmentation</span><br>J. Barker and J. Davis<br>IEEE Workshop on Egocentric Vision, June 2014</li>

        <li><span>Summarizing High-Level Scene Behavior - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/MVA-13.pdf' %></span><br>K. Streib and J. Davis<br>Machine Vision and Applications Journal, 2013</li>


    </ul>
</div>




