---
layout: "navBarBackNews"
title: Jim Davis - Smart Surveillance
---

<!-- iMix page. A video of the Dr. Davis' "Smart Surveillance" research for the show iMix. This page is only accessible through the News page, year 2009. The episode air date is cross-referenced in "Media", TV/Video but it does not link to this page. -->

<!-- Site-wide banner and "News" title -->
<div class="banner center">
    <div class="newsBanner">
        <%= image_tag "bannerNews.jpg" %>
    </div>
</div>
<div class="center">
    <h2>iMix 110 - Smart Surveillance</h2>
</div>
<div class="publicationsList"><div class="center">
	<object width="400" height="300" type="application/x-shockwave-flash" data="http://vimeo.com/moogaloop.swf?clip_id=5380509&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" >
	<param name="allowfullscreen" value="true" />
	<param name="allowscriptaccess" value="always" />
	<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=5380509&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" />

	</object>

<!-- Embedded video and summary of episode on iMix --> 

	<br><%= link_to 'iMix 110 - Smart Surveillance', 'http://vimeo.com/5380509'%> from <%= link_to 'WOSU imix', 'http://vimeo.com/imix'%> on <%= link_to 'Vimeo', 'http://vimeo.com'%></div>
<br><br>A new episode of iMix will air on the Big Ten Network on Tuesday, July 28 at 6:30pm; Thursday, July 30 at 5pm; and Friday, July 31 at 8:30am. Hosted by Chris Forbes, this episode explores the world of "smart" surveillance systems with Professor James W. Davis and his team of graduate and undergraduate researchers. 
<br><br><i>Using computers equipped with video cameras,
Professor Jim Davis and his team are developing
a system that uses human recognition principles
to detect abnormalities in typical visual patterns.
This new technology allows the camera's to 
"see" trouble and send out alerts to security 
personnel. The cameras can be operated 
remotely and over the internet.</i>
<br><br>Where to watch the Big Ten Network in Columbus:<br>
WOW - Channel 87<br>
Time Warner - Channel 58<br>
Insight - Channel 26<br>
</div>

